body{
    
    background-color: #64ffda
    }
#profile_image{
border: 10px dotted black;

}

.layout{
    border: 5px solid black;
    padding: 10px;
    width: 100%;
  background-color: #d9bad5f2;
    color: navy
    text-align: center;
    
        font-family: cursive;
}

table tr:start{
background-color: rgba(250, 250, 250, 0.8)
}

.name{
  text-align:center;
  background-color:peach;
}
.profile{
  border-radius:50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

.box{
  left:10px;
  position:static;
}

